@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #ffffff;
  background: #141414;
  font-size: 14px;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  background: hsl(0, 0%, 10%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.info h1 {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
}

.info p {
  margin: 0;
  color: hsl(75, 94%, 57%);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px 120px;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  color: #ffffff;
  background-color: hsl(0, 0%, 20%);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: hsl(0, 0%, 8%);
  background: hsl(75, 94%, 57%);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

